
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EjercicioRef</title>
</head>
<body>
    <div> 

          Texto original: @ViewBag.textoOriginal <br />
          Texto truncado: @ViewBag.TextoOut
    </div>
</body>
</html>
