
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href="/home/DiasDeLaSemana">Días de la semana</a><br />
        <a href="/home/EjercicioOut">Ejercicio Out - Invertir texto</a><br />
        <a href="/home/EjercicioRef">Ejercicio Ref - Truncar texto</a>
    </div>
</body>
</html>
